---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Términos y condiciones de uso">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Términos y condiciones de uso</Fragment>
      <Fragment slot="desc">Bienvenido a Ocial. Al hacer clic en la casilla de verificación durante el proceso de registro de nuestro Servicio, acepta cumplir y confirmar que ha leído los siguientes términos y condiciones ("Acuerdo"). Por favor, lea este Acuerdo cuidadosamente antes de acceder o utilizar el Servicio.</Fragment>
    </Sectionhead>
    <body class="bg-gray-100 p-4">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded shadow-md">    
    
            <ol class="list-inside space-y-4">
                <li class="mb-4">
                    <h2 class="font-semibold">Aceptación de Términos</h2>
                    <p>Este Acuerdo describe los términos bajo los cuales se le proporciona el Servicio a usted ("Cliente"). Al hacer clic en la casilla de verificación durante el proceso de registro del Servicio, acepta cumplir y confirmar que ha leído este Acuerdo. Si no está de acuerdo con estos términos, le pedimos amablemente que se abstenga de utilizar el Servicio.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Descripción del Servicio</h2>
                    <p>Ocial proporciona una plataforma interactiva para publicar y descubrir eventos locales y cotidianos en su entorno. Tenga en cuenta que el Servicio puede estar sujeto a actualizaciones, expansiones o limitaciones a nuestra discreción o solicitudes de usuarios con el tiempo.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Uso del Servicio</h2>
                    <p>Usted acepta utilizar el Servicio solo para fines legales y de acuerdo con este Acuerdo. Usted es responsable de todas las actividades realizadas bajo su cuenta.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Cuentas de Usuario</h2>
                    <p>Para acceder a ciertas funciones del Servicio, es posible que se le pida que cree una cuenta. Usted acepta proporcionar información precisa y completa y mantener esta información actualizada.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Política de Privacidad</h2>
                    <p>Su privacidad es importante para nosotros. Nuestra Política de Privacidad, <a href="/privacy">enlace a la Política de Privacidad</a>, explica cómo recopilamos, usamos y protegemos su información personal.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Pago</h2>
                    <p>Si el Servicio requiere pago, acepta pagar todas las tarifas aplicables según se describe en el sitio web del Servicio o dentro del Servicio. Todas las tarifas son no reembolsables, excepto según se disponga expresamente en este Acuerdo.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Propiedad Intelectual</h2>
                    <p>Todo el contenido y materiales proporcionados en el Servicio son propiedad intelectual de Ocial o de sus licenciantes y están protegidos por derechos de autor y otros derechos de propiedad intelectual.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Limitación de Responsabilidad</h2>
                    <p>Ocial no será responsable de ningún daño indirecto, incidental, especial, consecuencial o punitivo resultante de su uso del Servicio, excepto según lo exija la ley aplicable.</p>
                </li>
                <li class="mb-4">
                    <h2 class="font-semibold">Cambios en el Acuerdo</h2>
                    <p>Podemos modificar este Acuerdo en cualquier momento. Comunicaremos los cambios de este Acuerdo. Su uso continuado del Servicio después de cualquier cambio constituye su aceptación de los términos modificados.</p>
                </li>
                <li>
                    <h2 class="font-semibold">Información de Contacto</h2>
                    <p>Si tiene alguna pregunta sobre este Acuerdo, contáctenos en <a href="mailto:contacto@ocial.es">contacto@ocial.es</a>.</p>
                </li>
            </ol>
        </div>
    </body>
</Container>
</Layout>
