---
// @ts-ignore
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Maximiza la exposición local de tus eventos",
    description:
      "Alcanza a tu audiencia objetivo en tu área y asegúrate de que tus eventos sean conocidos por quienes más importan.",
    icon: "bx:bx-map-pin",
  },
  {
    title: "Aumenta la participación e interacción de tu público",
    description:
      "Nuestra plataforma está diseñada para generar interés, comentarios y compartir, asegurando que tus eventos atraigan la atención que merecen.",
    icon: "bx:bx-rocket",
  },
  {
    title: "Más barato que un equipo de marketing",
    description:
      " Con Ocial, obtén resultados impactantes a una fracción del costo que conlleva contratar un equipo de marketing completo.",
    icon: "bx:bx-dollar",
  },
];

const pricing = [
  {
    name: "Gratis",
    price: "0.00€ / mes",
    popular: false,
    features: [
      "Gratis para siempre",
      "Hasta 1 evento mensual",
      "Posiciona tu empresa en Ocial",
      "Soporte Comunitario",
      "",
      ""
    ],
    button: {
      text: "Crea una cuenta gratuita",
      link: "/",
    },
  },
  {
    name: "Básico",
    price: {
      monthly: "6.99€ / mes",
    },
    popular: true,
    features: [
      "Todo lo anterior más ->",
      "Hasta 10 eventos mensuales",
      "Edición de eventos",
      "Soporte 24/7",
      "",
      "",
    ],
    button: {
      text: "Comienza con BÁSICO",
      link: "#",
    },
  },
  {
    name: "Avanzado",
    price: "12.99€ / mes",
    popular: false,
    features: [
      "Todo lo anterior más ->",
      "Eventos ilimitados",
      "Eventos destacados",
      "Envío de notificaciones",
      "Funciones de avanzadas",
      "Soporte 24/7 prioritario"
    ],
    button: {
      text: "Comienza con AVANZADO",
      link: "#",
    },
  },
];
---

<Layout title="Para empresas">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Amplifica la visibilidad de tus eventos con <a class="text-ocial-blue">Ocial</a>!</Fragment>
      <Fragment slot="desc">
        La solución para la publicidad de tus eventos que se adapta a tu presupuesto.
      </Fragment>
    </Sectionhead>
    <br>
    <div class="mt-16 md:mt-0">
        <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
          ¿Por qué elegir <a class="text-ocial-blue">Ocial</a>?
        </h3>
        <p class="text-lg mt-4 text-slate-600">
            No pierdas tiempo complicándote con estrategias de marketing. Ocial es fácil de usar y te permite comenzar a promocionar tus eventos de inmediato, sin complicaciones ni demoras.
        </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
        {
          features.map((item) => (
            <div class="flex gap-4 items-start">
              <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          ))
        }
    </div>
    <br>
    <div class="mt-16 md:mt-0">
        <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
          ¡Empieza hoy!
        </h3>
        <p class="text-lg mt-4 text-slate-600">
            Registrate y comienza a promocionar tus eventos de manera efectiva y sin complicaciones. ¡Potencia tu presencia local de manera sencilla y asequible!
        </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
