---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---
<div class="relative">
  <Layout title="">
    <Container>
      <Hero />
      <Features />
    <!--<Logos />
      <Cta /> -->
    </Container>
  </Layout>
  <svg class="h-auto -mt-6 w-6/12 absolute right-0 top-0 z-[-1]" style="min-width:400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 800 800">
    <ellipse cx="700" cy="100" rx="600" ry="600" fill="currentColor" style="color:#aacfff; opacity:0.3"/>
    <ellipse cx="700" cy="100" rx="520" ry="550" fill="currentColor" style="color:#aacfff; opacity:0.6"/>
    <ellipse cx="700" cy="100" rx="450" ry="500" fill="currentColor" style="color:#aacfff"/>
    <!--- 
    
    <circle cx="00" cy="600" r="700" fill="currentColor" style="color:#aacfff"/>
    -->
  </svg>
</div> 
</div>