---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Política de privacidad">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Politica de privacidad</Fragment>
      <Fragment slot="desc">Cómo Ocial retiene, procesa o maneja los datos</Fragment>
    </Sectionhead>
    
    <body class="bg-gray-100 p-4">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded shadow-md">
            <h1 class="text-2xl font-bold mb-4">Política de Privacidad de Ocial</h1>
            <p class="mb-4">Esta Política de Privacidad describe cómo Ocial recopila, utiliza y comparte la información personal de los usuarios de la aplicación Ocial. Al utilizar la aplicación Ocial, usted acepta las prácticas descritas en esta política.</p>

            <h2 class="text-lg font-bold mt-4 mb-2">1. Información que recopilamos</h2>
            <ul class="list-disc pl-6 mb-4">
                <li><strong>Información de registro:</strong> Cuando se registra en Ocial, podemos recopilar su nombre, dirección de correo electrónico y otra información necesaria para crear y gestionar su cuenta.</li>
                <li><strong>Información de perfil:</strong> Podemos recopilar información adicional que decida proporcionar, como su fotografía de perfil, género, fecha de nacimiento, intereses y preferencias.</li>
                <li><strong>Información de uso:</strong> Recopilamos información sobre cómo utiliza la aplicación Ocial, incluidos sus patrones de interacción con la aplicación, las páginas que visita y las funciones que utiliza.</li>
                <li><strong>Información del dispositivo:</strong> Podemos recopilar información sobre el dispositivo que está utilizando, incluido el modelo, la versión del sistema operativo, la identificación única del dispositivo y otra información técnica.</li>
                <li><strong>Información de ubicación:</strong> Ocial puede recopilar y procesar información sobre su ubicación general con su consentimiento, utilizando tecnologías como GPS y señales de Wi-Fi.</li>
            </ul>

            <h2 class="text-lg font-bold mb-2">2. Uso de la información</h2>
            <p class="mb-4">Utilizamos la información recopilada para los siguientes fines:</p>
            <ul class="list-disc pl-6 mb-4">
                <li>Para proporcionar y mantener la aplicación Ocial.</li>
                <li>Para personalizar su experiencia y ofrecer contenido y funciones adaptadas a sus intereses.</li>
                <li>Para enviarle actualizaciones, avisos técnicos, noticias y otra información relacionada con Ocial.</li>
                <li>Para mejorar nuestros servicios y desarrollar nuevas características.</li>
                <li>Para investigar y prevenir actividades fraudulentas, abusivas o ilegales.</li>
                <li>Para cumplir con nuestras obligaciones legales y resolver disputas.</li>
            </ul>

            <h2 class="text-lg font-bold mb-2">3. Compartir de la información</h2>
            <p class="mb-4">No vendemos, alquilamos ni compartimos información personal de usuarios con terceros, excepto en las siguientes circunstancias:</p>
            <ul class="list-disc pl-6 mb-4">
                <li><strong>Con su consentimiento:</strong> Podemos compartir información personal con terceros cuando usted nos autoriza a hacerlo.</li>
                <li><strong>Proveedores de servicios:</strong> Podemos compartir información con terceros que prestan servicios en nuestro nombre, como procesamiento de pagos, análisis de datos y servicios de alojamiento.</li>
                <li><strong>Cumplimiento legal:</strong> Podemos divulgar información cuando creemos de buena fe que la divulgación es necesaria para cumplir con la ley, proteger nuestros derechos o responder a solicitudes legales.</li>
                <li><strong>Transacciones corporativas:</strong> En caso de una fusión, adquisición, reestructuración corporativa o venta de activos, podemos transferir o compartir información como parte de la transacción, sujeto a obligaciones de confidencialidad.</li>
            </ul>

            <h2 class="text-lg font-bold mb-2">4. Seguridad de la información</h2>
            <p class="mb-4">Tomamos medidas razonables para proteger la información personal de los usuarios contra accesos no autorizados, divulgación, alteración o destrucción. Sin embargo, ninguna transmisión de datos por Internet o almacenamiento electrónico es completamente segura, por lo que no podemos garantizar su seguridad absoluta.</p>

            <h2 class="text-lg font-bold mb-2">5. Sus derechos</h2>
            <p class="mb-4">Usted tiene ciertos derechos respecto a su información personal, incluido el derecho a acceder, corregir, eliminar y restringir el procesamiento de sus datos. Puede ejercer estos derechos enviándonos una solicitud utilizando la información de contacto proporcionada a continuación.</p>

            <h2 class="text-lg font-bold mb-2">6. Cambios en esta política</h2>
            <p class="mb-4">Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos sobre cambios significativos en esta política enviando una notificación a su dirección de correo electrónico u otra información de contacto que haya proporcionado, o publicando una notificación destacada en la aplicación. Le recomendamos que revise periódicamente esta política para estar informado sobre cómo protegemos su información.</p>

            <h2 class="text-lg font-bold mb-2">7. Contacto</h2>
            <p>Si tiene alguna pregunta sobre esta Política de Privacidad o sobre nuestras prácticas de privacidad, puede contactarnos a  <a href="mailto:contacto@ocial.es">contacto@ocial.es</a>.</p>
            
            <h2 class="text-lg font-bold mb-2">8. Derecho al olvido</h2>
            <p>Si desea ejerer el derecho al olvido, puede enviar un correo con los detalles de su cuenta <a href="mailto:legal@ocial.es?&subject=DERECHO%20AL%20OLVIDO&body=Yo,%20(INTRODUCIR%20NOMBRE%20Y%20APELLIDOS)%20quiero%20ejercer%20el%20derecho%20al%20olvido%20de%20mi%20cuenta%20de%20Ocial%20con%20email:%20(INTRODUCE%20EMAIL)">legal@ocial.es</a>.</p>
        </div>
    </body>
</Container>
</Layout>
