---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import outside from "assets/Mock_Up_Outside.png";

const features = [
  {
    title: "Vive momentos juntos",
    description:
      "Comparte eventos interesantes con amigos y organiza salidas en grupo para una experiencia aún más divertida.",
    icon: "bx:bxs-group",
  },
  {
    title: "Descubre en el mapa",
    description:
      "Visualiza eventos en un mapa interactivo para encontrar actividades emocionantes en ubicaciones cercanas.",
    icon: "bx:bxs-map",
  },
  {
    title: "No te pierdas nada",
    description:
      "Recibe notificaciones instantáneas sobre eventos cercanos, actualizaciones y nuevas actividades relevantes para ti.",
    icon: "bx:bxs-bell",
  },
  {
    title: "Descubre a tu manera",
    description:
      "Explora eventos adaptados a tus gustos e intereses con nuestro sistema de recomendaciones personalizadas.",
    icon: "bx:bxs-search",
  },
  {
    title: "Encuentra lo que amas",
    description:
      "Filtra eventos por categorías, ubicación o fecha para descubrir exactamente lo que estás buscando.",
    icon: "bx:bx-filter",
  },
  {
    title: "Navegación sin complicaciones",
    description:
      "Disfruta de una interfaz intuitiva que te permite explorar eventos de manera fácil y rápida.",
    icon: "bx:bxs-layout",
  },
];
---

<div class="grid mt-16 md:mt-0 lg:grid-cols-2">
  <div class="pl-10">
    <Image class="rounded-lg" src={outside} alt="Mock Up Outside" width="500"/>
  </div>
  <div class="mt-6">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Todos los eventos al alcance de tu mano
    </h2>
    <div>
    <p class="text-lg mt-4 text-slate-600">
      No importa a dónde te lleve la vida, <a class="text-ocial-blue">Ocial</a> estará contigo en cada paso del camino. Cuando estés de viaje, descubre eventos locales y sumérgete en la cultura de cada lugar. Desde festivales vibrantes hasta encuentros culturales, Ocial te conecta con las mejores experiencias, sin importar dónde te encuentres.
    </p>
  </div>
</div>

</div>

</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-ocial-dark-blue rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
